body {
    background-image: url("./assets/Title-BG.jpg");
    background-size: 100vw 100vh;
}

#title-card {
    margin-top: 25vh;
    font-size: 40px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    height: 50vh;
    text-align: center;
}

#play-button {
    margin-top: 5vh;
    font-size: 40px;
}

h1 {
    -webkit-text-stroke: 2.3px black;
}

h3 {
    -webkit-text-stroke: 1.4px black;
}

#game-div {
    display: flex;
    flex-flow: row wrap;
    margin: 5.56vh 4vw 0vh 4.65vw;
}

#game-div img{
    padding: 0.13vh 0.004vw;
    margin-bottom: 0.9vh;
    margin-right: 0.58vw;
}

#game-div img.back-tile:hover{
    background-color: rgba(249, 253, 4, 0.4);
}

#timer-div{
    margin: -0.5vh 1.8vw;
    font-size: 30px;
    color: white;
}
